body{
	margin:0;
	width: 100%;
	height: 100%;
}


@font-face {
	font-family: 'Alegreya_Bold';
	src: url('fonts/Alegreya-Bold.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Alegreya_Regular';
	src: url('fonts/Alegreya-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Playfair';
	src: url('fonts/playfair-display-bold_[allfont.ru].ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'ProximaNova_Bold';
	src: url('fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'ProximaNova_Regular';
	src: url('fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Scriptin';
	src: url('fonts/SCRIPTIN.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}
#first_slide{
	position: relative;
	height: 900px;
	width: 1600px;
	background-image: url(img/top_bg.png);
	background-size: cover;
}
#first_slide:after{
	position: absolute;
	content:' ';
	width: 700px;
	height: 700px;
	border-radius: 50%;
	background:radial-gradient(#56534c -20%,transparent 60%);
	top:100px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}
#frst_header{
	width: 100%;
	height: 70px;
	background: rgba(86, 83, 76, 0.53);
}
#frst_header #label{
	font-family: 'Scriptin';
	font-size: 30px;
	color: white;
	display: inline-block;
	height: 50px;
	margin-left: 170px;
	margin-top: -18px;
}
#frst_header #menu{
	position: relative;
	margin-left: 415px;
	margin-top: -20px;
}
#frst_header #menu li{
	list-style-type: none;
	display: inline;
	color: white;
	font-family: 'Alegreya_Regular';
	font-size: 15px;
	letter-spacing: 3px;
	margin-right: 35px;
}
#frst_header #menu li a{
	color: white;	
	text-decoration: none
}
#frst_header #menu li+li:before{
	content:"~";
	margin-right: 35px;
}
#socials{
	margin-left: 1335px;
	margin-top: -18px;
}
#socials a{
	margin-right: 25px;
	position: relative;
}
#frst_middletext h1{
	position: relative;
	font-family: 'Playfair';
	font-size: 92px;
	color: white;
	margin-top: 185px;
	text-align: center;
	letter-spacing: 6px;
	z-index: 2;
}
#frst_middletext p{
	position: relative;
	font-family: 'ProximaNova_Regular';
	font-size: 24px;
	color: white;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 132px;
	z-index: 2;
}
#frst_button input{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 46px;
	width: 200px;
	height: 48px;
	background: rgba(86, 83, 76, 0.53);
	border: none;
	color: white;
	font-family: 'Alegreya_Bold';
	font-size: 14px;
	letter-spacing: 3px;
	outline: none;
	cursor: pointer;
	z-index: 2;
}
#second_slide{
	position: absolute;
	height: 740px;
	width: 1600px;
	background-image: url(img/sec_slide_bg.png);
	background-size: cover;
	margin-top: 13px;
}
#second_slide:after{
	position: absolute;
	content:'';
	background: white;
	border-radius: 50%;
	width: 77px;
	height: 77px;
	top: -45px;
	left:0;
	right: 0;
	margin: auto;
	z-index: 1
}
#second_slide:before{
	position: absolute;
	content:'';
	background-image: url(img/bread.png);
	width: 105px;
	height: 105px;
	top:-60px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 2
}
#sec_left{
	width: 440px;
	margin-left: 290px;
	text-align: center;
	margin-top: 50px;
	float:left;
}
.clear{
	clear: left;
}
#sec_left h1{
	font-family: 'Alegreya_Bold';
	font-size: 45px;
	color: #56534c;
	margin-bottom: 0px;
}
#sec_left h3{
	font-family: 'Alegreya_Bold';
	font-size: 13px;
	color: #a47d5e;
	margin-top: 0px;
	letter-spacing: 1px;
	margin-top: -4px;
}
#sec_left p{
	font-family: 'ProximaNova_Regular';
	font-size: 14px;
	margin-top: 50px;
	line-height: 24px;
}
#sec_left h2{
	font-family: 'Alegreya_Bold';
	font-size: 24px;
	color: #56534c;
	margin-top: 30px;
}
.name{
	margin-top: 45px;
	font-family: 'Alegreya_Regular';
	font-size: 24px;
	color: #56534c;	
	border: 1px solid #d7d5ca;
	border-left: none;
	border-right: none;
	display: inline-block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
#firstname:after{
	position: absolute;
	content: '';
	background-image: url(img/chef.png);
	background-size: cover;
	width: 104px;
	height: 104px;
	top: -25px;
	left: 130px;
}
#lastname{
	margin-left: 150px;
}
#phrase{
	position: relative;
	background-image: url(img/phrase.png);
	background-size: cover;
	width: 245px;
	height: 62px;
	margin-left: 87px;
	margin-top: 60px;
}
#phrase:before{
	position: absolute;
	content: '“';
	font-family: 'Times New Roman';
	font-size: 60px;
	color: #b6b5b2;
	left: -75px;
	top: -35px;
}
#phrase:after{
	position: absolute;
	content: '„';
	font-family: 'Times New Roman';
	font-size: 60px;
	color: #b6b5b2;
	right: -80px;
	bottom: -35px;
}
#sec_fourimg{
	position: relative;
	width: 616px;
	height: 527px;
	margin-left: 815px;
	margin-top: 121px;
	padding: 0;
}
.sec_img{
	width: 295px;
	height: 249px;
	margin-left: 0px;
	outline: 5px solid white;
	outline-offset: -10px;
}
#sec_img1{
	background-image: url(img/top-left.png);

}
#sec_img2{
	background-image: url(img/bottom-left.png);
	margin-top: 28px;
	float: left;
}
#sec_img3{
	background-image: url(img/top-right.png);
	margin-left: 321px;
	margin-top: -249px;
}
#sec_img4{
	background-image: url(img/bottom-right.png);
	margin-left: 321px;
	margin-top: 28px;
}
#sec_fourimg:after{
	position: absolute;
	content:'TASTES SO \A GOOD!';
	white-space: pre;
	font-family: 'Alegreya_Regular';
	font-size: 30px;
	color: #c9b176;
	text-align: center;
	background-image: url(img/tastes_so_good.png);
	opacity: 0.95;
	width: 252px;
	height: 252px;
	top: 140px;
	left: 185px;
	padding-top: 80px;
	box-sizing: border-box;
}
#third_slide{
	position: absolute;
	width: 1600px;
	height: 760px;
	margin-top: 105px;
	background-image: url(img/middle_bg.png);
	background-size: cover;
}
#trd_tasty_block{
	width: 964px;
	height: 512px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 108px;
}
#trd_tasty_left{
	height: 100%;
	width: 429px;
	background-image: url(img/pancakes.png);
	float: left;
}
#trd_tasty_right{
	position: absolute;
	height: 100%;
	width: 546px;
	background: white;
	right: 0;
	z-index: 1;
}
#tasty_right_text h1{
	font-family: 'Alegreya_Bold';
	font-size: 45px;
	color: #56534c;
	margin-top: 64px;
	margin-left: 63px;
	margin-bottom: 6px;
}
#tasty_right_text h3{
	font-family: 'Alegreya_Bold';
	font-size: 13px;
	color: #a47d5e;
	letter-spacing: 1px;
	margin-top: -4px;
	margin-left: 63px;
}
#tasty_right_text p{
	font-family: 'ProximaNova_Regular';
	font-size: 14px;
	line-height: 24px;
	width: 410px;
	margin-left: 63px;
	margin-top: 70px;
	letter-spacing: 1px;
	z-index: 3;
}
#tasty_right_images{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 80px;
	width: 360px;
	z-index: 3;
}
#tasty_right_images img{
	display: inline-block;
	float: left;
	margin-right: 30px;
}
#trd_tasty_right:before{
	content: '';
	position: absolute;
	background-image: url(img/mill.png);
	background-size: cover;
	width: 280px;
	height: 308px;
	right: 0;
	bottom: 0;
	z-index: 2;
}
#ready_in{
	position: absolute;
	width: 200px;
	height: 200px;
	background-image: url(img/ready_in.png);
	background-size: cover;
	text-align: center;
	right: -104px;
	top: -40px;
	box-shadow: 0 0 150px -20px black;
}
#ready_in h3{
	font-family: 'Alegreya_Bold';
	font-size: 20px;
	color: #a47d5e;
	margin-top: 26px;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
#ready_in h2{
	font-family: 'Alegreya_Bold';
	font-size: 90px;
	color: #dfc691;
	margin-top: -10px;
	letter-spacing: 7px;
	margin-bottom: 0px;
}
#ready_in p {
	font-family: 'Alegreya_Bold';
	font-size: 17px;
	color:#979285;
	margin-top: -17px;
	letter-spacing: 2px;
}
#fourth_slide{
	height: 760px;
	width: 1600px;
	margin-top: 865px;
	background-image: url(img/bottom_bg.png);
	background-size: cover;
	position: absolute;
}
#fth_text h1{
	font-family: 'Alegreya_Bold';
	font-size: 60px;
	color: #fff;
	margin-top: 64px;
	margin-left: 400px;
	margin-bottom: 0px;
	letter-spacing: 3px;
}
#fth_text p{
	font-family: 'Alegreya_Bold';
	font-size: 17px;
	line-height: 24px;
	width: 410px;
	margin-left: 402px;
	margin-top: -10px;
	letter-spacing: 1px;
	color:#b59889;
}
#fth_text .menu h2{
	font-family: 'Alegreya_Bold';
	font-size: 29px;
	color: white;
	letter-spacing: 2px;
	margin-bottom: 5px;
}
#fth_text .menu{
	width: 410px;
	text-align: center;
	margin-left: 325px;
	margin-top: 50px;
}
#fth_text .menu span{
	font-family: 'ProximaNova_Regular';
	color:#c2beba;
	letter-spacing: 1px;
}
#fth_text .menu p{
	font-family: 'Alegreya_Regular';
	font-size: 36px;
	color:#dfc691;
	margin-top: 25px;
	margin-left: 0px;
}
#fth_right_block{
	width: 442px;
	height: 603px;
	right: 170px;
	top: 89px;
	background: #f3f1e9;
	position: absolute;
	outline: 2px dashed #9e9c93;
	outline-offset: -10px;
	overflow: hidden;
	z-index: 3;
}
#fth_right_block:after{
	position: absolute;
	content: '';
	background-image: url(img/flair.png);
	background-size: cover;
	bottom: -70px;
	right: -170px;
	width: 348px;
	height: 220px;
	z-index: 3;
}
#fth_right_under_block1{
	width: 442px;
	height: 547px;
	right: 158px;
	top: 117px;
	background: #d6d4c5;
	position: absolute;
	outline: 2px dashed #9e9c93;
	outline-offset: -10px;
	z-index: 2;
}
#fth_right_under_block2{
	width: 442px;
	height: 491px;
	right: 146px;
	top: 145px;
	background: #c0bcb1;
	position: absolute;
	outline: 2px dashed #9e9c93;
	outline-offset: -10px;
}
#fth_pretzel{
	position: absolute;
	width: 367px;
	height: 60px;
	background-image: url(img/pretzel.png);
	background-color: cover;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 75px;
}
#fth_pretzel:before{
	position: absolute;
	content: 'EST.';
	font-family: 'Alegreya_Bold';
	font-size: 14px;
	color: #56534c;
	top: -26px;
	left: 67px;
}
#fth_pretzel:after{
	position: absolute;
	content: '1893';
	font-family: 'Alegreya_Bold';
	font-size: 14px;
	color: #56534c;
	top: -26px;
	right: 67px;
}
#fth_right_text{
	position: absolute;
	width: 350px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 160px;
	text-align: center;

}
#fth_right_text h3{
	font-family: 'Alegreya_Bold';
	font-size: 44px;
	color: #56534c;
	margin-bottom: 25px;
}
#fth_right_text p{
	font-family: 'ProximaNova_Regular';
	font-size: 14px;
	color: #56534c;
	line-height: 30px;
}
#fth_right_block input{
	position: absolute;
	text-align: center;
	font-family: 'Alegreya_Bold';
	font-size: 18px;
	color: #a47d5e;	
	border: 1px solid #9e9c93;
	background: #f3f1e9;
	outline: none;
	width: 190px;
	height: 60px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 66px;
	cursor: pointer;
}
#fifth_slide{
	width: 1600px;
	height: 1160px;
	margin-top: 1625px;
	background: #f3f1e9;
}
#fifth_caption{
	width: 490px;
	position: absolute;
	left: 600px;	
	margin-top: 45px;
	text-align: center;
	z-index: 2;
}
#fifth_caption h3{
	font-family: 'Alegreya_Bold';
	font-size: 44px;
	color: #56534c;
	margin-bottom: 0px;
	z-index: 2;
}
#fifth_caption p{
	font-family: 'Alegreya_Bold';
	font-size: 14px;
	color: #af8c71;
	letter-spacing: 1px;
	margin-top: 0px;
}
#fifth_caption:before{
	position: absolute;
	content: '';
	background-image: url(img/mill2.png);
	background-size: cover;
	width: 107px;
	height: 114px;
	bottom: 55px;
	right: 200px;
	z-index: -1;
}
#fifth_minipicts{
	position: relative;
	width: 310px;
	text-align: center;
	margin-left: 170px;
	height: 100px;
	top: 163px;
	float: left;
}
.fifth_minipict h2{
	margin: 0;
	font-family: 'Alegreya_Bold';
	font-size: 30px;
	color: #a47d5e;
	margin-top: 10px;
}
.fifth_minipict p{
	margin: 0;
	font-family: 'ProximaNova_Regular';
	font-size: 14px;
	line-height: 20px;
	color: #56534c;
	margin-top: 10px;
	letter-spacing: 1px;
	margin-bottom: 52px;
}
#fifth_sendwith_recipe{
	width: 819px;
	height: 535px;
	position: relative;
	left: 615px;
	background-image: url(img/sandwich.png);
	background-size: cover;
	top: 255px;
	border: 2px solid white;
	border-bottom: 7px solid white;
	box-shadow: 0 10px 20px -10px gray;
}
#fifth_sendwith_recipe input{
	position: absolute;
	text-align: center;
	font-family: 'Alegreya_Bold';
	font-size: 18px;
	color: #dfc691;	
	border: 1px dashed #dfc691;
	background: #fff;
	outline: none;
	width: 165px;
	height: 60px;
	cursor: pointer;
	bottom:-25px;
	left: -25px;	
}
#fifth_prep{
	position: absolute;
	width: 200px;
	height: 200px;
	background: #fff;
	text-align: center;
	right: 9px;
	top: -30px;
	opacity: 0.80;
}
#fifth_prep h3{
	font-family: 'Alegreya_Bold';
	font-size: 20px;
	color: #a47d5e;
	margin-top: 45px;
	letter-spacing: 1px;
	margin-bottom: 0px;	
}
#fifth_prep h2{
	font-family: 'Alegreya_Bold';
	font-size: 65px;
	color: #56534c;
	margin-top: -17px;
	letter-spacing: 7px;
	margin-bottom: 0px;
}
#fifth_prep p{
	font-family: 'Alegreya_Bold';
	font-size: 17px;
	color:#979285;
	margin-top: -10px;
	letter-spacing: 2px;	
}
#fifth_cook{
	position: absolute;
	width: 200px;
	height: 200px;
	background: #fff;
	text-align: center;
	right: 9px;
	top: 171px;
	opacity: 0.80;
}
#fifth_cook h3{
	font-family: 'Alegreya_Bold';
	font-size: 20px;
	color: #a47d5e;
	margin-top: 45px;
	letter-spacing: 1px;
	margin-bottom: 0px;	
}
#fifth_cook h2{
	font-family: 'Alegreya_Bold';
	font-size: 65px;
	color: #56534c;
	margin-top: -17px;
	letter-spacing: 7px;
	margin-bottom: 0px;
}
#fifth_cook p{
	font-family: 'Alegreya_Bold';
	font-size: 17px;
	color:#979285;
	margin-top: -10px;
	letter-spacing: 2px;	
}
#fifth_ready_in{
	position: absolute;
	width: 200px;
	height: 200px;
	right: 9px;
	top: 373px;
	background-image: url(img/ready_in.png);
	background-size: cover;
	text-align: center;
}
#fifth_ready_in h3{
	font-family: 'Alegreya_Bold';
	font-size: 20px;
	color: #a47d5e;
	margin-top: 26px;
	letter-spacing: 1px;
	margin-bottom: 0px;
}
#fifth_ready_in h2{
	font-family: 'Alegreya_Bold';
	font-size: 90px;
	color: #dfc691;
	margin-top: -10px;
	letter-spacing: 7px;
	margin-bottom: 0px;
}
#fifth_ready_in p {
	font-family: 'Alegreya_Bold';
	font-size: 17px;
	color:#979285;
	margin-top: -17px;
	letter-spacing: 2px;
}
#fifth_footer{
	position: relative;
	height: 70px;
	width: 1260px;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 470px;

}
#fifth_footer #left_menu{
	border: 1px solid #c2beba;
	border-left: none;
	border-right: none;
	width: 515px;
	height: 70px;
	box-sizing: border-box;
	padding-top: 23px;
	float: left;
}
#fifth_footer #left_menu li{
	list-style-type: none;
	display: inline;
	color: #35332f;
	font-family: 'Alegreya_Regular';
	font-size: 15px;
	letter-spacing: 3px;
	margin-left: 37px;
}
#fifth_footer #left_menu li a{
	color: #35332f;	
	text-decoration: none;
}
#fifth_footer #left_menu li+li:before{
	content:"~";
	margin-right: 35px;
}
#fifth_footer #mid_logo{
	font-family: 'Scriptin';
	font-size: 30px;
	color: #35332f;
	display: inline-block;
	height: 50px;
	margin-left: 50px;
	margin-top: -10px;
	margin-right: 50px;
	float: left;
}
#fifth_footer #right_menu{
	border: 1px solid #c2beba;
	border-left: none;
	border-right: none;
	width: 515px;
	height: 70px;
	box-sizing: border-box;
	padding-top: 23px;
	float: left;
}
#fifth_footer #right_menu li{
	list-style-type: none;
	display: inline;
	color: #35332f;
	font-family: 'Alegreya_Regular';
	font-size: 15px;
	letter-spacing: 3px;
	margin-left: 37px;
}
#fifth_footer #right_menu li a{
	color: #35332f;	
	text-decoration: none;
}
#fifth_footer #right_menu li+li:before{
	content:"~";
	margin-right: 35px;
}